*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: rgb(7, 126, 17);
color: #61122F;
}
body{
	background-color: #f074cb;
	color: rgb(1, 20, 9);
}
.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: rgb(247, 146, 205);

}
.container
{
	background-color: rgb(238, 107, 107);
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #f13b7e;
}
.navbar-brand{
font-size: 30px;	
}